<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        iMeter Mobile App
      </div>
      <div class="description">
        Download the iMeter Mobile app for Android and IOS and gain access and control over all your iMeter features from the tip of your fingers

      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="ion-social-android"></i>
    </a>
  </nb-card-footer>
</nb-card>
