<div class="row container-fluid">
    <nb-card size="medium" class="col-lg-12" >
      <nb-card-body>
        <div class="picture" style.background-image="url('http://www.publicdomainpictures.net/pictures/20000/velka/green-nature.jpg')"></div>

        <div class="details">
          <div class="title">
            {{(post | async)?.title}}
          </div>
          <div class="description">
            {{(post | async)?.body}}
          </div>
        </div>
      </nb-card-body>


      <nb-card-footer>
        <a href="#/pages//blog/create-post">
          <i class="ion-ios-world"></i>
        </a>
        <a href="#/pages/blog/view/54">
          <i class="ion-social-apple"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
          <i class="ion-social-android"></i>
        </a>
        <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
          <i class="ion-social-github"></i>
        </a>
      </nb-card-footer>
    </nb-card>
</div>

<ngx-view-comments [id]="id" ></ngx-view-comments>