<div class="row container-fluid">
    <nb-card size="large" class="col-lg-12" >
      <nb-card-body>
        <img src="{{( post | async )?.featuredImage}}" class="picture block img-responsive" alt="{{( post | async )?.title}}"/>

        <div class="details">
          <div class="title">
            {{( post | async )?.title}}
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a (click)="favoritePost()">
          <small>{{post.commentCount}}</small>
          <i class="ion-ios-chatboxes"></i>
        </a>
        <a (click)="viewPost()">
          <small>{{post.views}}</small>
          <i class="ion-ios-eye"></i>
        </a>
      </nb-card-footer>
    </nb-card>

  <nb-card class="col-lg-12" size="small">
    <nb-card-header>
      Description
    </nb-card-header>
    <nb-card-body [innerHTML]="( post | async )?.body" >

    </nb-card-body>
  </nb-card>

  <ngx-view-comments class="col-lg-12" [id]="id"></ngx-view-comments>
</div>
